body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* Previene el scroll horizontal */
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  /* Ocupa todo el ancho de la ventana */
  padding: 60px;
  box-sizing: border-box;
  /* Incluye el padding en el ancho y alto total */
}

.centered-content {
  display: flex;
  /* Habilita flexbox en el div interno */
  flex-direction: column;
  /* Apila los elementos en una columna */
  align-items: center;
  /* Centra el contenido horizontalmente */
  justify-content: center;
  /* Centra el contenido verticalmente */
  text-align: center;
  /* Centra el texto dentro de los elementos */
  margin-top: 20px;
  /* Ajusta la distancia desde la parte superior */
}

/* Estilos para listas sin decoración */
.list-no-decor {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  /* Elimina el padding por defecto */
  margin: 0;
  /* Elimina el margin por defecto */
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  .section {
    padding: 40px;
    /* Reduce el padding en pantallas medianas */
  }
}

@media (max-width: 900px) {
  .section {
    padding: 30px;
    /* Reduce el padding en pantallas pequeñas */
  }

  .centered-content {
    margin-top: 10px;
    /* Ajusta el margen superior en pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .section {
    padding: 20px;
    /* Reduce aún más el padding en pantallas muy pequeñas */
    height: auto;
    /* Ajusta la altura para que se adapte al contenido */
  }

  .centered-content {
    margin-top: 5px;
    /* Ajusta el margen superior en pantallas muy pequeñas */
  }
}

.responsive-img {
  width: 100%;
  max-width: 600px;
  /* Ajusta el tamaño máximo de la imagen */
  border-radius: 0%;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  .responsive-img {
    width: 80%;
    /* Ajusta el tamaño en pantallas medianas */
  }
}

@media (max-width: 900px) {
  .responsive-img {
    width: 70%;
    /* Ajusta el tamaño en pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  .responsive-img {
    width: 60%;
    /* Ajusta el tamaño en pantallas móviles */
  }
}