body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Previene el scroll horizontal */
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 60px;
  box-sizing: border-box; /* Incluye el padding en el ancho y alto total */
}

.centered-content {
  display: flex; /* Habilita flexbox en el div interno */
  flex-direction: column; /* Apila los elementos en una columna */
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  text-align: center; /* Centra el texto dentro de los elementos */
  margin-top: 20px; /* Ajusta la distancia desde la parte superior */
}